@model TrackingWidget
@if (WebRequestContext.IsPreview)
{    
    <div @Html.DxaEntityMarkup() class="xpm-button" style="height: 64px; width: 250px; border-style: dashed; border-color: lightgrey; border-width: 2px; z-index: 100; position: fixed; top: 80px; left: 64px; text-align: center; padding-top: 6px; margin: 0; color: lightgrey;">
        Tracking Categories: <br/><i>@(string.Join(",", Model.TrackedCategories))</i>
    </div>
}
